<%= form_for @user do |user| %>
  
   <% if @user.errors.any? %>
    <div id="error_explanation">      
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
  <%= user.label :Имя %>
  <%= user.text_field :name %>  
  </p>
  
  <p>
  <%= user.label :Фамилия %>
  <%= user.text_field :surname %>
  </p>
  
  <p>
  <%= user.label :Email %>
  <%= user.email_field :email %>
  </p>
  
  <p>
  <%= user.label :Пароль %>
  <%= user.password_field :password %>  
  </p>
  
   <p>
  <%= user.label :Повторить_пароль %>
  <%= user.password_field :password_confirmation %>  
  </p>
  
  <p>
  <%= user.label :Дата_рождения %>
  <%= user.datetime_local_field :birth_date %>
  </p> 
  
  <p>
  <%= user.label :Телефон %>
  <%= user.text_field :phone %>  
  </p>
  
  <%= user.submit 'Зарегистрироваться' %>


<% end %>

<%= link_to 'Вернуться к списку сотрудников', users_path %>
