
  <p>Имя: <%= @user.name %></p>
    
  <p>Фамилия: <%= @user.surname %></p>
  
  <p>Email: <%= @user.email %></p>
  
  <p>Пароль: <%= @user.password %></p>
  
  <p>Дата рождения <%= @user.birth_date %></p> 
  
  <p>Телефон: <%= @user.phone %></p>
  


<%= link_to 'Вернуться к списку сотрудников', users_path %>
